#jacobContainer
{
    display: none;
}

#IsaiahContainer
{
    display: none;
}

#CatContainer
{
    display: none;
}

#FortniteContainer
{
    display: none;
}

.show
{
    display: block !important;
}